<mat-toolbar color="primary">
  <span>Senador - {{ senador?.nomeSenador }}</span>
</mat-toolbar>

<h1 mat-header>Resumo de despesas</h1>
<mat-divider></mat-divider>
<mat-nav-list>
  <mat-list-item *ngFor="let despesa of despesasResumidas">
    <a matLine>{{ despesa.tipo | formatDespesa }}</a>
    <label>
      {{ despesa.currencyTotal | currency: "1.2-2":"R$" }}
    </label>
  </mat-list-item>
</mat-nav-list>

<br />
<h1 mat-header>Discriminações de despesas</h1>
<mat-divider></mat-divider>
<table mat-table [dataSource]="senador?.despesas">
  <ng-container matColumnDef="tipo">
    <th id="1" mat-header-cell *matHeaderCellDef>Tipo de despesa</th>
    <td mat-cell *matCellDef="let despesa">
      {{ despesa.tipo | formatDespesa }}
    </td>
  </ng-container>
  <ng-container matColumnDef="fornec">
    <th id="1" mat-header-cell *matHeaderCellDef>Fornecedor</th>
    <td mat-cell *matCellDef="let despesa">{{ despesa.fornec }}</td>
  </ng-container>
  <ng-container matColumnDef="data">
    <th id="1" mat-header-cell *matHeaderCellDef>Data</th>
    <td mat-cell *matCellDef="let despesa">
      {{ "" | formatDate: despesa.dia:despesa.mes:despesa.ano }}
    </td>
  </ng-container>
  <ng-container matColumnDef="valor">
    <th id="2" mat-header-cell *matHeaderCellDef>Valor</th>
    <td mat-cell *matCellDef="let despesa">
      {{ despesa.valor | currency: ".1-2":"R$" }}
    </td>
  </ng-container>

  <tr
    mat-header-row
    *matHeaderRowDef="['tipo', 'fornec', 'data', 'valor']"
  ></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: ['tipo', 'fornec', 'data', 'valor']"
  ></tr>
</table>
